@media screen and (max-width:900px) {
    .navbar {
        top: 0;
        left: 0;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        transition: .3s ease;
    }

    .navbar.active-menu {
        margin-left: 0;
        transition: .3s ease;
    }

    .navbar li {
        margin: 25px 0;
        font-size: 1.2rem;
    }

    #menu-icon {
        display: inline-block;
        position: absolute;
        right: 5px;
        z-index: 5000;
    }

    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    }

    .chefs-container {
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 760px){
    .chefs-container {
        display: flex;
        flex-direction: column;
    }

    .chefs .chefs-container .chef-box img {
        object-fit: contain;
    }

    .chefs .chefs-container .chef-box .text {
        padding: 0;
        top: -150%;
    }

    .services-container {
       grid-template-columns: auto;
    }
}
